/* Initialize and reset some of the
 * defaults styles for a tag and button.
 */

a,
button {
  &:hover,
  &:active {
    outline: none !important;
    box-shadow: none !important;
  }
  &:focus:not(:focus-visible) {
    outline: none !important;
    box-shadow: none !important;
  }
}
